name: "Zabbix Agent 7.0"
description: "Zabbix Agent 7 Add-on with TLS PSK support"
version: "0.3.0"
slug: zabbixagent7
init: false
startup: services
arch:
  - amd64
  - armv7
  - aarch64

options:
  server: ""
  server_active: ""
  hostname: ""
  psk_identity: ""
  psk_secret: ""

schema:
  server: str
  server_active: str
  hostname: str
  psk_identity: str?
  psk_secret: str?

ports:
  10050/tcp: 10050
