name: "Zabbix Agent 7.0"
version: "0.3.9"
slug: "zabbixagent7"
description: "Zabbix Agent 7 Add-on with TLS PSK support"
startup: services
boot: auto
arch:
  - amd64
  - aarch64
  - armv7
init: false

options:
  server: ""
  server_active: ""
  hostname: ""
  psk_identity: ""
  psk_secret: ""

schema:
  server: str
  server_active: str
  hostname: str
  psk_identity: str?
  psk_secret: str?
